.form{
text-align:center;
margin:0 auto;
width:90%;
}
.input{
  font-weight: 300; 
  width: 100%; 
  font-size: 25px; 
  border: 0px; 
  color: #4b545f; 
  font-family: Helvetica Neue, Helvetica, Sans-serif;    
   margin: 5%;
}
.button{
  border: 2px solid #ddd;
   padding: 3%;
    margin: 5%;
     width: 50%;
}